## Core latex/pdflatex auxiliary files:
*.aux
*.out
*.log
*.fdb_latexmk
*.fls
*.bbl
*.blg
*.dvi
*.toc
*.tdo
*.synctex.gz

.auctex-auto
references.bib

## python binary files
**/__pycache__/
**/.env/
**/*.egg-info/

## misc
/report/_minted-problem/
